/* You can add global styles to this file, and also import other style files */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --dark-blue: #001B74;
    --light-blue: #4987c9;
    --white: #ffffff;
    --dark-grey: #1E2023;
}